{% extends 'base.html.twig' %}

{% block body %}
  <div id="calendar"></div>
{% endblock %}

{% block js %}
  {{ parent() }}
  <script src="{{ asset('bundles/calendar/core/main.js') }}"></script>
  <script src="{{ asset('bundles/calendar/daygrid/main.js') }}"></script>
  <script src="{{ asset('bundles/calendar/timegrid/main.js') }}"></script>
  <script src="{{ asset('bundles/calendar/list/main.js') }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: ['dayGrid', 'timeGrid', 'list'],
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        defaultView: 'dayGridMonth',
        defaultDate: new Date(),
        navLinks: true, // can click day/week names to navigate views
        editable: true,
        eventLimit: true, // allow "more" link when too many events
        events: {{ events|raw }}
      });
      calendar.render();
    });
  </script>
{% endblock %}



